@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,400&family=Lato:wght@300;400&display=swap");

:root {
  /* fundos */
  --bg-principal: #0d0d0d;
  --bg-card: #111111;
  --bg-carta: #1f1010;

  /* vermelhos / destaques */
  --vermelho-principal: #c0392b;
  --vermelho-vivo: #e74c3c;
  --vermelho-escuro: #8b1a1a;

  /* textos */
  --texto-branco: #ffffff;
  --texto-branco-suave: #e0e0e0;
  --texto-cinza-claro: #b0b0b0;
  --texto-cinza-medio: #858585;

  /* acentos */
  --acento-coracao: #e74c3c;
  --borda-card-timeline: #4a1010;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Lato", sans-serif; /* ou Playfair Display*/
  background-color: var(--bg-card);
  color: var(--texto-branco);
}

/* ------------------------------------ hero ------------------------------------ */
.polaroids {
  position: absolute;
  width: 40px;
  z-index: -1;
  opacity: 0.6;
}

.polaroids.baby {
  left: 25px;
  top: 15px;
  rotate: 30deg;
}

.polaroids.ana-pink {
  right: 25px;
  top: 15px;
  rotate: -20deg;
  width: 45px;
}

.polaroids.library {
  left: 0;
  top: 90px;
  rotate: -40deg;
}
.polaroids.fairy {
  right: 20px;
  bottom: -15px;
  rotate: -50deg;
}
.polaroids.mirror {
  left: 40px;
  bottom: -10px;
  rotate: 20deg;
}
.polaroids.mirror-bath {
  right: 30px;
  bottom: -10px;
  rotate: -10deg;
}

.polaroids.pianist {
  right: 90px;
  bottom: -10px;
  rotate: 5deg;
  width: 30px;
}

.hero {
  margin-top: 50px;
}

h1 {
  margin-bottom: 10px;
  font-weight: 500;
  width: 50%;
  text-align: center;
  justify-self: center;
  line-height: 35px;
  font-family: "Playfair Display", serif;
}

.love {
  color: var(--vermelho-principal);
  font-weight: 600;
}

.subtitle-hero {
  text-align: center;
  font-size: 0.6rem;
  color: var(--texto-cinza-medio);
  letter-spacing: 2px;
}

.title-counter {
  margin: 20px 0 5px 0;
  text-align: center;
  font-size: 0.6rem;
  color: var(--texto-branco-suave);
}

.container-counter {
  display: flex;
  flex-direction: row;
  justify-self: center;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 10px;
  border: var(--borda-card-timeline) solid 2px;
  background-color: var(--bg-principal);
  width: 95%;
  margin-bottom: 20px;
}

.counter {
  padding: 5px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 16.666666666%;
  border-right: 1px solid var(--borda-card-timeline);
}

.text-counter {
  font-size: 0.7rem;
  color: var(--texto-cinza-medio);
}

.number-counter {
  color: var(--vermelho-vivo);
  font-size: 1.5rem;
  text-align: center;
}

/* ------------------------------------ menu ------------------------------------ */

nav {
  position: sticky;
  z-index: 1000;
  top: 0;
  background-color: var(--bg-card);
}

.menu {
  min-width: 100%;
  display: flex;
  list-style: none;
}

.menu li {
  padding: 10px 10px;
  flex-grow: 1;
  text-align: center;
}

li.active {
  color: var(--vermelho-principal);
  border-bottom: 1px solid var(--vermelho-principal);
}

.menu a {
  color: var(--texto-cinza-medio);
  text-decoration: none;
  font-size: 0.7rem;
  letter-spacing: 1px;
  cursor: pointer;
}

/* ------------------------------------ carta de amor ------------------------------------ */

h2 {
  margin: 30px 20px;
  font-size: 0.8rem;
  letter-spacing: 4px;
  color: var(--texto-cinza-medio);
  font-weight: 400;
}

h2.reverse {
  text-align: end;
}

.title-reverse {
  position: relative;
}

.container-letter {
  background-color: var(--bg-principal);
  border: solid 1px var(--bg-carta);
  border-radius: 10px;
  padding: 10px;
  width: 90%;
  justify-self: center;
  color: var(--texto-cinza-claro);
}

.text-letter {
  text-wrap: wrap;
  margin: 20px 15px;
  font-family: "Playfair Display", serif;
  letter-spacing: 1.5px;
  line-height: 22px;
  font-style: italic;
  text-align: justify;
  text-justify: inter-word;
  hyphens: auto;
  word-break: break-word;
}

.name-letter {
  text-align: end;
  margin: 20px 15px;
  color: var(--texto-cinza-medio);
  font-style: italic;
}

.name {
  color: var(--acento-coracao);
  font-size: 1.3rem;
  font-weight: 600;
}

hr {
  width: 80%;
  margin: 45px;
  justify-self: center;
  border: none;
  border-top: solid 1px var(--vermelho-escuro);
  position: relative;
}

/* ------------------------------------ fotos ------------------------------------ */

.container-photos {
  height: fit-content;
  justify-self: center;
  display: flex;
  align-items: center;
  gap: 15px;
}

.container-photos #photo-carousel {
  width: 250px;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
}

.container-photos .seta {
  width: 15px;
  height: 30px;
  filter: invert(70%);
  cursor: pointer;
}

.photos-index {
  text-align: center;
  margin-top: 8px;
  font-family: "Playfair Display", sans-serif;
  font-size: 1.1rem;

}

/* ------------------------------------ linha do tempo ------------------------------------ */

.moments {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 85%;
  justify-self: center;
}

.text-photo {
  display: flex;
  flex-direction: column;
  border-left: var(--vermelho-escuro) 1px solid;
  padding: 0 20px;
  position: relative;
  justify-self: center;
}

.dot {
  color: var(--vermelho-vivo);
  position: absolute;
  left: -9px;
  top: -13px;
  font-size: 1.8rem;
}

.date-moment {
  color: var(--vermelho-principal);
  font-size: 0.6rem;
  letter-spacing: 2px;
  font-weight: 600;
}

.description-moment {
  margin: 5px 0 15px 0;
  color: var(--texto-branco-suave);
  font-size: 0.8rem;
}

.img-moment {
  width: 100%;
  height: 220px;
  max-width: 300px;
  max-height: 220px;
  object-fit: cover;
}

/* ------------------------------------ playlist ------------------------------------ */

.iframe {
  text-align: center;
}

/* ------------------------------------ rodapé ------------------------------------ */

footer {
  height: 70px;
}

h3 {
  width: 60%;
  justify-self: center;
  color: var(--texto-cinza-medio);
  font-size: 0.8rem;
  text-align: center;
  font-weight: 400;
  font-family: "Fairplay Display";
  font-style: italic;
  letter-spacing: 1px;
}

footer p {
  text-align: center;
}
